<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Billing Program</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet"/>
    <!-- Own CSS -->
    <link th:href="@{/css/styles.css}" href="../static/css/styles.css" rel="stylesheet"/>
</head>
<body class="d-flex flex-column min-vh-100">
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <div class="navbar-brand">Billing Program</div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{~/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{~/users}">List of all users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{~/calls}">List of all calls</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Content-->
<div class="container px-4 px-lg-5 flex-fill">
    <!-- Heading Row-->
    <div class="align-items-center my-5 text-center">
        <div class="mb-4">
            <h1>Calls list</h1>
        </div>
        <form id="phone-number-search-form" class="row g-3 needs-validation my-5" novalidate
              onsubmit="return showNumberDetails();">
            <div class="col-md-4 mx-auto text-center">
                <label for="phoneNumber" class="form-label">Search user by phone number</label>
                <div class="input-group has-validation">
                    <input type="tel" class="form-control text-center" id="phoneNumber" aria-describedby="inputGroupPrepend"
                           pattern="^[1-9][0-9]{8}$" required>
                    <div class="invalid-feedback">
                        Please enter correct phone number
                    </div>
                </div>
                <button class="btn btn-primary my-2" type="submit">Check</button>
            </div>
        </form>
    </div>

    <div class="col-12 col-md-10 col-xl-8 mx-auto table-responsive overflow-auto" style="max-height: 50vh!important;">
        <table class="table text-center table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th> Main Number</th>
                <th> Target Number</th>
                <th> Talk Time [s]</th>
                <th> Data</th>
                <!--            <th> LINK </th>-->
            </tr>
            </thead>
            <tr th:each="call:${calls}">
                <td th:text="${call.id}">123</td>
                <td th:text="${call.mainNumber}"> Jan</td>
                <td th:text="${call.targetNumber}"> Kowalski</td>
                <td th:text="${call.talkTime}"></td>
                <td th:text="${call.date}"></td>
            </tr>
        </table>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="text-center w-auto">
            <h5>Sort by Main Number</h5>
            <a th:href="@{~/calls/SortedByMainNumberAsc}" class="text-decoration-none">
                <button class="btn btn-primary my-1">Ascending</button>
            </a>
            <a th:href="@{~/calls/SortedByMainNumberDesc}" class="text-decoration-none">
                <button class="btn btn-primary my-1">Descending</button>
            </a>
        </div>

        <div class="text-center w-auto">
            <h5>Sort by Target Number</h5>
            <a th:href="@{~/calls/SortedByTargetNumberAsc}" class="text-decoration-none">
                <button class="btn btn-primary my-1">Ascending</button>
            </a>
            <a th:href="@{~/calls/SortedByTargetNumberDesc}" class="text-decoration-none">
                <button class="btn btn-primary my-1">Descending</button>
            </a>
        </div>

        <div class="text-center w-auto">
            <h5>Sort by Talk Time</h5>
            <a th:href="@{~/calls/SortedByTalkTimeAsc}" class="text-decoration-none">
                <button class="btn btn-primary my-1">Ascending</button>
            </a>
            <a th:href="@{~/calls/SortedByTalkTimeDesc}" class="text-decoration-none">
                <button class="btn btn-primary my-1">Descending</button>
            </a>
        </div>

        <div class="text-center col-6 w-auto">
            <h5>Sort by Date</h5>
            <a th:href="@{~/calls/SortedByDataAsc}" class="text-decoration-none">
                <button class="btn btn-primary my-1">Ascending</button>
            </a>
            <a th:href="@{~/calls/SortedByDataDesc}" class="text-decoration-none">
                <button class="btn btn-primary my-1">Descending</button>
            </a>
        </div>
    </div>

    <div class="text-center mt-4">
        <a th:href="@{~/calls}">
            <button class="btn btn-primary">Reset Sorting</button>
        </a>
    </div>

</div>
<footer class="py-3 bg-dark mt-5">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Przemysław Rodzik 2021</p>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Own JS -->
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>
